//Change navigation background color
@navigation__background: @color-black;

@primary__color: @color-black;

@navigation-level0-item__color: @color-white;
@navigation-level0-item__background: @color-black;
@_nav-level0-item-color:  @color-white;

@navigation-level0-item__active__background: lighten(@color-black, 20%);
@navigation-level0-item__active__color: @color-white;

@submenu__background: lighten(@color-black, 20%);

@submenu-item__background: lighten(@color-black, 30%);
@submenu-item__color: lighten(@color-black, 30%);

//Change the link color
@link__color: @color-red9;
