//
//  Common 
//  ---------------------------------------------
//
& when (@media-common = true) {
    
    .products-catalog{

        .product-item{
            height: 355px;
            overflow: hidden;
            text-align: center;

            color: @color-black;

            .product-image-container{
                transition: opacity 0.2s;
            }
            .product-item-details{
                position: relative;
                z-index: 2;
                bottom: 0;

                transition: bottom 0.4s;

                .product-item-name{
                    margin: 0;
                    
                    color: @color-black;

                    transition: font-size 0.4s;
                }
                a:hover{
                    text-decoration: none;
                }
            }

            .product-item-on-hover-layer{
                position: relative;
                z-index: 2;
                bottom: 0;

                transition: bottom 0.4s;

                .normal-price{
                    color: @color-black;
                    
                    .price-label{
                        display: none;
                    }
                    
                }

                .product-label-link-container{
                    color: @color-black;
                    display: flex;
                    justify-content: center;

                    .product-label-link{
                        width: 40%; 
                        border: 2px solid @color-black;
                        
                        font-weight: 700;
                        font-size: 1.5rem;

                        p{
                            margin: 0;
                        }
                    }
                }
            }
        }
        
        .product-item:hover {
            a{
                text-decoration: none;
            }

            .product-item-name{
                font-size: 1.8rem;
            }

            .product-image-container{
                opacity: 0.4;
            }

            // .product-item-details{
            //     bottom:250px;
            // }

            // .product-item-on-hover-layer{
            //     bottom: 250px;
            // }
        }
    }

    .product-info-main{
        
        .page-title-wrapper{
            margin-bottom: 0px;
            .page-title{
                margin-bottom: 0px;
            }
        }

        .product-info-stock-sku{
            display: flex;
            justify-content: space-between;
            align-items: center;

            color: @color-gray-middle2;
            
            font-size: 1rem;
        }

        .price-and-wishlist-container{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .add-to-wishlist-heart{
                font-size: 1.5rem;
            }
            span:hover{
                text-decoration: none;
            }
            a:hover{
                text-decoration: none;
            }
            .price-label{
                display: none;
            }
            .price{
                font-size: 2.2rem;
            }
        }
        .margin.price{
            margin-top:20px;
        }

        .productInfoContainer{
            max-height: 2.5rem;
            overflow: hidden;
            margin-bottom: 1rem;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid @color-gray-middle3;

            transition:  max-height 0.7s;
            cursor: pointer;
            .productInfoContainer__header{
                font-size: 2rem;
                text-align: center;
                margin-bottom: 0.5rem;
            
            }

            .productInfoContainer__info{
                text-align: justify;
            }
        }
        .collapsed{
            max-height: 25rem;
        }
    }
    .product.data.items{

        #tab-label-reviews{
            padding: 0;
            border: none;
            background: unset;

            .data.switch{
                border: unset;
                background: unset;
            }
        }
        
        .data.item.content{
            display: flex;
        }

        .item.review-item{
            margin-right: 20px;

            .review-content{
                margin-left: 150px;
                text-align: justify; 
            }

            .review-details{
                margin:  20px 20px 0 150px;
            }
        }

        .toolbar.review-toolbar{
            border: none;
        }

        .no-reviews{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .no-reviews-info{
                font-size: 2.5rem;
            }

            #reviews-arrow{
                font-size: 5rem;
            }
        }

        .block-content{
            padding-left: 30px;
        }
    }
    
}

//
//  Mobile and tablets
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .products-catalog{

        .product-item:hover {
    
            .product-item-details{
                bottom:0px;
            }
    
            .product-item-on-hover-layer{
                bottom: 0px;
            }
        }
    }
    
    .product.data.items{
        
        .data.item.content{
            flex-direction: column;
            
            #product-review-container{
                width: 100%;
            }
            .block.review-add{
                width: 100%;
            }
            .no-reviews{
                margin: 20px 0 30px;
                #reviews-arrow{
                    display: none;
                }
            }
            
        }
    }
}

//
//  Desktop 
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    
    .products-catalog{

        .product-item:hover {
    
            .product-item-details{
                bottom:250px;
            }
    
            .product-item-on-hover-layer{
                bottom: 250px;
            }
        }
    }

    .product.data.items{
        
        .data.item.content{
            flex-direction: row;
            height: 480px;

            #product-review-container{
                width: 60%;
                height: 480px;
                overflow-y: auto;
            }

            .block.review-add{
                width: 40%;
            }

            #reviews-arrow{
                display: unset;
            }
        }
    }

}