//
//  Common 
//  ---------------------------------------------
//
& when (@media-common = true) {
    
    .products-catalog{

        .product-item{
            height: 355px;
            overflow: hidden;

            .product-image-container{
                transition: opacity 0.2s;
            }
            .product-item-details{
                position: relative;
                z-index: 2;
                bottom: 0;

                transition: bottom 0.4s;
            }
            .product-item-on-hover-layer{
                position: relative;
                z-index: 2;
                bottom: 0;

                transition: bottom 0.4s;
            }
            .price-label{
                display: none;
            }
        }
    }

    .products-catalog{
        
        .product-item:hover {

            .product-image-container{
                opacity: 0.4;
            }
            .product-item-details{
                bottom:250px;
            }
            .product-item-on-hover-layer{
                bottom: 250px;
            }
        }
    }

    .product-info-main{
        
        .product-info-stock-sku{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .price-and-wishlist-container{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .add-to-wishlist-heart{
                font-size: 1.5rem;
            }
            span:hover{
                text-decoration: none;
            }
            a:hover{
                text-decoration: none;

            }
        }
    }
    
}