//
//  Common 
//  ---------------------------------------------
//
& when (@media-common = true) {
    
    .block-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:3rem;
    }

    .block-title strong{
        font-size: 4rem !important;
        text-align: center;
    }

    .block-title:after{
        content: "";
        border-bottom: 1px solid @color-black;
        display:block;
        width: 30%; 
    }

    .mainpageCarusele{

        button{
            background: unset;
            border: unset;
            text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;

            color: @color-white;

            font-size: 6rem;
        }

        a:hover{
            text-decoration: none;
        }

        .tns-outer{
            width: 100%;
        }
        
        .tns-item{
            height: 500px;
        }


        #tns1-item0{
            .firstBanner{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #000000;
                height: 494px;
            
                background-image: url(../images/first-slide-in-slider.jpg);
            
                color:  @color-white;
            
                .firstBanner__content{
                    border: 3px solid @color-white;
            
                    .firstBanner__content--title{
                        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
            
                        font-size: 15rem;
                    }
            
                    .firstBanner__content--info{
                        margin-left: 1rem;
            
                        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
                        
                        font-size: 5rem;
                    }
                }
            }
        }

        #tns1-item1{
            background-image: url(../images/second-slide-in-slider.jpg);

            .secondBanner{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                color: @color-white;

                text-align: center;

                .secondBanner__title{
                    font-weight: 700;
                    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                }

                .secondBanner__buttonsContaner{
                    display: flex;
                    justify-content: center;
                }

                .secondBanner__buttonContaner{
                    margin: 10px;
                

                    .secondBanner__buttonContaner--button{
                        border: 2px solid @color-white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 250px;
                        height: 50px;
                        
                        color: @color-white;

                        font-size: 1.5rem;

                        .secondBannerButtonContent{
                            margin: 0;

                            color: @color-white;
                        }
                    }
                }
            }
        }

        #tns1-item2{
            background-image: url(../images/third-slide-in-slider.jpg);
            background-position: right;

            .thirdBanner{
                color:@color-white;
                text-align: center;
                .thirdBannerContent{
                    display: flex;
                    flex-direction: column;     

                    .thirdBannerContent__title{
                        width: 100%;

                        color:@color-white;

                        font-size: 4rem;
                    }

                    .thirdBannerContent__info{
                        width: 100%;

                        color:@color-white;

                        font-size: 1.5rem;
                    }
                }
            }

        }
        
    }
}

//
//  Mobile and tablets
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .mainpageCarusele{

        .tns-controls{
            display: none;
        }

        .secondBanner__buttonsContaner{
            flex-direction: column;
        }
        .secondBanner__title{
            font-size: 3rem;
        }

        .thirdBannerContent{
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
            padding: 170px 10px 0;
            width: 90%;
        }
    }
}

//
//  Desktop 
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    
    .mainpageCarusele{
        
        .tns-controls{
            position: relative;
            top:250px;
            
            z-index: 2;
            display: flex;
            
            align-items: center;
            justify-content: space-between;
        }

        .secondBanner__title{
            font-size: 4.5rem;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    
    .mainpageCarusele{
        
        .secondBanner__buttonsContaner{
            flex-direction: row;
        }

        .thirdBannerContent{    
            text-shadow: unset;
            padding: 170px 0 0 200px;
            width: 30%;
        }
    }

}