//
//  Common 
//  ---------------------------------------------
//
& when (@media-common = true) {
    
    .block-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:3rem;
    }

    .block-title strong{
        font-size: 4rem !important;
        text-align: center;
    }

    .block-title:after{
        content: "";
        border-bottom: 1px solid @color-black;
        display:block;
        width: 30%; 
    }

    .mainpageCarusele{
        
        .tns-item{
            height: 500px;
        }

        #tns1-item0{
            .firstBanner{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #000000;
                height: 494px;
            
                background-image: url(../images/main-page-first-banner.jpg);
            
                color:  @color-white;
            
                .firstBanner__content{
                    border: 3px solid @color-white;
            
                    .firstBanner__content--title{
                        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
            
                        font-size: 15rem;
                    }
            
                    .firstBanner__content--info{
                        margin-left: 1rem;
            
                        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
                        
                        font-size: 5rem;
                    }
                }
            }
        }

        #tns1-item1{
            background-image: url(../images/first-slide-in-slider.jpg);
        }
    }
}

